*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff; }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none; }

img {
  max-width: 100%;
  border: 0;
  margin: 0;
  padding: 0; }

p {
  font-size: 1rem;
  font-weight: normal;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 10px;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
  margin: 0;
  line-height: 24px; }

a {
  color: #ffffff;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #ffffff; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1.5rem; }

.o-container {
  margin: 0 auto 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 768px) {
    .o-container {
      max-width: 740px; } }
  @media (min-width: 1200px) {
    .o-container {
      max-width: 1140px; } }

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .o-col--md25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 768px) {
    .o-col--md33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 768px) {
    .o-col--md50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 1200px) {
    .o-col--lg33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 1200px) {
    .o-col--lg50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg75 {
      flex: 0 0 75%;
      max-width: 75%; } }

.o-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 768px) {
    .o-row {
      flex-direction: row; } }
  .o-row--center-y {
    align-items: center; }

.c-btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  line-height: 24px;
  padding: 7px 0;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: white;
  width: 150px;
  cursor: pointer;
  transition: all .3s; }
  @media (min-width: 768px) {
    .c-btn {
      border: none;
      border-radius: 5px;
      display: inline-block;
      line-height: 24px;
      padding: 14px 0;
      font-size: 1rem;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
      color: white;
      width: 170px;
      cursor: pointer;
      transition: all .3s; } }
  .c-btn--primary {
    background: #cd3f1e;
    font-weight: bold;
    transition: all .6s; }
    .c-btn--primary:hover {
      transform: translateY(-2px);
      color: #000000; }
  .c-btn--secondary {
    background: #e5f901;
    border-radius: 50px;
    color: #000000;
    font-weight: bold;
    transition: all .6s; }
    .c-btn--secondary:hover {
      background: #cd3f1e;
      color: #ffffff; }
  .c-btn--contact {
    background: #cd3f1e;
    border-radius: 50px;
    transition: all .6s;
    color: #ffffff;
    width: 250px; }
    @media (min-width: 768px) {
      .c-btn--contact {
        width: 380px; } }
    @media (min-width: 1200px) {
      .c-btn--contact {
        min-width: 720px; } }
  .c-btn--footer {
    background: #cd3f1e;
    width: 100px; }

.c-heading {
  color: #ffffff; }
  .c-heading--level1 {
    font-size: 2.25rem; }
  .c-heading--level2 {
    font-size: 3rem; }
  .c-heading--level3 {
    font-size: 3.75rem; }
  .c-heading--level4 {
    font-size: 1.5rem; }
  .c-heading--level5 {
    font-size: 36px; }
  .c-heading--level6 {
    font-size: 16px; }
  .c-heading--upper {
    text-transform: uppercase; }
  .c-heading--black {
    color: #000000; }

.c-nav {
  background: url(../images/navbar-bg.png) center center/cover; }
  .c-nav__item {
    font-size: 18px;
    transition: all .4s; }
    .c-nav__item:hover {
      color: #cd3f1e;
      transform: translateY(-1px); }
  .c-nav__active {
    color: #cd3f1e; }
    .c-nav__active:hover {
      color: #ffffff; }
  .c-nav__navbar {
    padding-left: 1000px; }

.c-hamburger__line1, .c-hamburger__line2, .c-hamburger__line3 {
  height: 3px;
  width: 23px;
  margin: 5px;
  transition: all .4s; }

.c-hamburger__change .c-hamburger__line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.c-hamburger__change .c-hamburger__line3 {
  transform: rotate(45deg) translate(-5px, -6px); }

.c-hamburger__change .c-hamburger__line2 {
  opacity: 0; }

.t-banner {
  position: relative; }
  .t-banner__heading {
    position: absolute;
    top: 30%;
    left: 3%; }
    @media (min-width: 768px) {
      .t-banner__heading {
        left: 5%;
        top: 36%; } }
    @media (min-width: 1200px) {
      .t-banner__heading {
        left: 15%;
        top: 35%; } }
  .t-banner__h1 {
    font-size: 1.5rem;
    font-weight: 500;
    animation-name: anim;
    animation-duration: 3s; }
    @media (min-width: 768px) {
      .t-banner__h1 {
        font-size: 3rem;
        font-weight: 500; } }
  .t-banner__text {
    font-size: 14px;
    width: 300px;
    animation-name: anim;
    animation-duration: 3s; }
    @media (min-width: 1200px) {
      .t-banner__text {
        width: 400px;
        font-size: 20px; } }
  .t-banner__btn {
    animation-name: anim;
    animation-duration: 3s; }

@keyframes anim {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.t-mission {
  box-shadow: 10px 10px 10px #000; }
  .t-mission__heading {
    letter-spacing: 1px; }
  .t-mission__underline {
    width: 75px;
    height: 10px;
    background-color: #ffffff;
    margin: auto; }
    @media (min-width: 768px) {
      .t-mission__underline {
        width: 150px;
        height: 10px;
        background-color: #ffffff;
        margin: auto; } }
  .t-mission__text {
    letter-spacing: 1px; }
    @media (min-width: 768px) {
      .t-mission__text {
        font-size: 1.5rem; } }
  .t-mission__second-title {
    text-align: center; }
    @media (min-width: 768px) {
      .t-mission__second-title {
        padding: 50px;
        margin-top: 120px; } }
  .t-mission__second-part {
    line-height: 36px;
    text-align: center;
    transition: all .5s; }
    @media (min-width: 1200px) {
      .t-mission__second-part {
        text-align: left; } }
  .t-mission__img {
    margin-left: 130px;
    margin-bottom: -48px;
    transition: all .5s; }
    @media (min-width: 768px) {
      .t-mission__img {
        margin-left: 0px;
        padding-left: 150px; } }
  .t-mission__effect-right {
    animation: fromRight 2s; }

@keyframes fromRight {
  0% {
    transform: translateX(100px);
    opacity: 0; } }
  .t-mission__effect-left {
    animation: fromLeft 2s; }

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.card {
  box-shadow: 2px 10px 20px #5b5b5b; }

.t-plans__hover {
  transition: all .8s; }
  .t-plans__hover:hover {
    transform: scale(1.05); }

.t-plans__heading {
  letter-spacing: 1px;
  color: #1d1d1d; }

.t-plans__underline {
  width: 75px;
  height: 10px;
  background-color: #1d1d1d;
  margin: auto; }
  @media (min-width: 768px) {
    .t-plans__underline {
      width: 150px;
      height: 10px;
      background-color: #1d1d1d;
      margin: auto; } }

.t-plans__text {
  letter-spacing: 1px;
  color: #1d1d1d;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .t-plans__text {
      font-size: 1.5rem; } }

.t-plans__subheading {
  position: absolute;
  top: 70%;
  right: 0;
  width: 60%;
  background: #111111;
  font-size: 1rem;
  opacity: .8; }

@media (min-width: 768px) {
  .t-customers {
    clip-path: circle(55% at 50% 10%); } }

.t-pricing__card-1 {
  background: url(../images/pricing-bg.png) center/cover;
  min-height: 60vh; }

.t-pricing__card-2 {
  background: url(../images/pricing-bg.png) center/cover;
  min-height: 65vh; }

.t-contact {
  background: #181212;
  height: 80vh; }
  @media (min-width: 1200px) {
    .t-contact {
      background: linear-gradient(-105deg, #181212 0%, #181212 55%, transparent 50%), url(../images/contact-bg.jpg) top center/cover; } }
  .t-contact__form {
    position: absolute;
    top: 90%;
    left: 25%; }
    @media (min-width: 768px) {
      .t-contact__form {
        top: 100%;
        left: 32%; } }
    @media (min-width: 1200px) {
      .t-contact__form {
        top: 90%;
        left: 50%; } }
  .t-contact__input {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
    transition: all .8s;
    width: 100% !important; }
    @media (min-width: 768px) {
      .t-contact__input {
        width: 75% !important; } }
    .t-contact__input:focus {
      background: transparent;
      border-color: transparent;
      outline: transparent;
      border-bottom: 2px solid #cd3f1e;
      color: #ffffff; }
  .t-contact__forms {
    position: relative;
    margin-top: 100px; }
  .t-contact__heading {
    position: absolute;
    top: 25%;
    right: 20%; }
    @media (min-width: 768px) {
      .t-contact__heading {
        right: 35%; } }
    @media (min-width: 1200px) {
      .t-contact__heading {
        right: 25%; } }

.u-ml {
  margin-left: 10px; }

.u-ml2 {
  margin-left: 20px; }

.u-ml3 {
  margin-left: 45px; }

.u-ml4 {
  margin-left: 60px; }

.u-mr {
  margin-right: 10px; }

.u-pt {
  margin-top: 15px; }

.u-mt2 {
  margin-top: 35px; }

.u-mt3 {
  margin-top: 5px; }

.u-black {
  color: #000000; }

.u-white {
  color: #ffffff; }

.u-bg-dark {
  background: #141414; }

.u-bg-plans {
  background: #cfcfcf; }

.u-primary {
  color: #cd3f1e; }

.u-gray {
  color: #e7e7e7; }

.u-footer {
  color: #989898; }

.u-email {
  color: #0a509e; }

.u-facebook {
  color: #2a7aff; }

.u-insta {
  color: #ef662a; }

.u-fz-2 {
  font-size: 0.75rem; }

.u-fz-3 {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .u-fz-3 {
      font-size: 1.5rem; } }

.u-fz-4 {
  font-size: 1.5rem;
  color: #cd3f1e; }
  @media (min-width: 768px) {
    .u-fz-4 {
      font-size: 2.25rem;
      color: #ffffff; } }

.u-fz-5 {
  font-size: 2.25rem; }
  @media (min-width: 768px) {
    .u-fz-5 {
      font-size: 3rem; } }

.u-fz-6 {
  font-size: 2.25rem; }

.u-weight-500 {
  font-weight: 500; }
